* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: helvetica, sans-serif;
}

/*Universal styles*/

a:link {color: lightgray;}      /* unvisited link */
a:visited {color: lightgray;}  /* visited link */
a:hover {color: lightgray;}  /* mouse over link */
a:active {color: lightgray;}  /* selected link */

body {
  background-color: hsl(224, 23%, 11%);
  color: lightgrey;
}

p {
  font-size: 1rem;
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: grey;
  font-family: georgia, serif;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  color: grey;
  font-family: georgia, serif;
  font-weight: 400;
}

h1 {
  font-family: /*"malgun gothic",*/helvetica, sans-serif;
  font-weight: 400;
}

a {
  color: lightgrey;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

li {
  font-size: 1.5rem;
}
  
footer p {
  font-size: 1rem;
}

/*header section*/

header {
  position: fixed;
  width: 100%;
  background-color: black;
  color: lightgrey;
  border-bottom: 2px lightgrey solid;
  z-index: 10;
  opacity: 0.9;
  justify-content: space-between;
  align-items: center;
}

header li {
  display: inline-block;
  margin: 30px 0 30px 0;
  padding: 0 30px 0 30px;
  border-left: 1px lightgrey solid;
}

.no-border {
  border-left: none;
}

header h1 {
  margin: 30px 30px 30px 100px;
}

.menu {
  display: none;
}

#menu {
  display: none;
}

#menu:target {
  display: block;
}

.dropdown-nav {
  background-color: hsl(224, 23%, 11%);
  
  width: 100%;
  height: 900px;
  position: absolute;
  text-align: center;
  z-index: 9;
}

.close-menu {
  width: 90%;
  margin-top: 170px;
  text-align: right;
  font-size: 1.5rem;
}

.dropdown-nav ul {
  color: lightgrey;
  list-style-type: none;
}

.dropdown-nav li {
  font-size: 24px;
  margin: 30px;
}


/*Section*/

section {
  width: 90%;
  height: 60px;
  text-align: center;
  padding: 30px 0 0 0;
}

/*main section*/

main {
  width: 100%;
  justify-content: center;
}

/*uppersection*/

.uppersection {
  width: 100%;
  justify-content: space-around;
  align-content: center;
  padding-top: 170px;
}

/*4 members section*/

.member {
  /*background: linear-gradient(rgba(0, 0, 51, 0.9),
rgba(0, 0, 51, 0.9)),
url("IMG_2248 copy.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  background-color: hsla(230, 100%, 23%, 0.25);
  width: 700px;
  max-width: 700px;
  min-width: 300px;
  height: auto;
  min-height: 200px;
  margin: 30px; 
  align-items: center;
}

img {
  height: 200px;
  width: auto;
}

.text-box {
  flex: 1;
  min-width: 50%;
  margin: 10px;
  padding: 10px;
}

#first {
  
}

#second {
  
}

#third {
  
} 

#fourth {
  
}

/*lowersection*/

.lowersection {
  background-color: hsla(230, 100%, 23%, 0.25);
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.heading {
  width: 100%;
  text-align: center;
  padding: 30px 100px;
  margin-top: 20px;
}

.lowersection p {
  font-size: 1.5rem;
}

.lowersection h2 {
  font-size: 2.7rem;
}

.lowersection h3 {
  font-size: 2rem;
}

.lowersection ul {
  font-size: 1.5rem;
  list-style-type: disc;
  margin-left: 20px;
}

.lowersection li {
  font-size: 1.5rem;
  text-align: left;
  margin: 20px 0;
}

.lowersection strong {
  color: grey;
}

.sponsor-me {
  /*height: 600px;*/
  flex: 1;
  margin: 30px;
  text-align: center;
}

.individual, .company {
  padding: 20px;
}

.picture {
  background-image: url("Jamie Potrait cropped.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.picture img {
  display: none;
}

/*footer*/

footer {
  background-color: black;
  width: 100%;
  height: 80px;
  border-top: 2px lightgrey solid; 
  justify-content: center;
  align-items: center;
}



/*Media queries*/

@media only screen and (max-width: 1560px) {

  h1 {
    
    margin: 30px 7% 30px 7%;
    font-size: 3rem;
  }

  header {
    flex-wrap: no-wrap;
  }

  .normal-nav {
    display: none;
  }

  .menu {
    display: inline-block;
    margin: 30px 7% 30px 7%;
  }
}

@media only screen and (max-width: 1100px) {


  p {
    font-size: 1.7rem;
    line-height: 1.4;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .menu {
    font-size: 2.5rem;
  }

  .dropdown-nav li, .close-menu {
    font-size: 2.5rem;
  }

  .dropdown-nav li {
    margin: 40px;
  }

  footer p {
    font-size: 1.7rem;
  }

  .member {
    width: 100%;
    max-width: 100%;
  }

  img {
    height: auto;
    width: 100%;
    margin: 0;
  }

  .text-box {
    margin: 20px;
    padding: 0;
  }

  .sponsor-me {
    width: 100%;
    height: auto;
    flex: initial;
    margin: 30px;
  }

  .picture img {
    display: block;
  }

  .lowersection p {
    font-size: 1.8rem;
  }

  .lowersection h2 {
    font-size: 2.8rem;
  }

  .lowersection h3 {
    font-size: 2.6rem;
  }

  .lowersection ul {
    font-size: 1.8rem;
    list-style-type: disc;
    margin-left: 20px;
  }

  .lowersection li {
    font-size: 1.8rem;
  }


}
